<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/head %>
    </head>

    <body>

        <% include ../../partials/navigation %>
        <div class="jumbotron jumbotron-sm"><br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            <img class="img-responsive img-thumbnail img-circle" src="/resources/img/rounded_white_icon.png" /> <%= business.name %></h1>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" style="margin-top:20px;">

                <div class="col-xs-12 col-md-6">
                    Address: <%= business.address.address %>
                </div>
                <div class="col-md-8">
                    <div class="well well-sm">
                        <% if (user) { %>
                            <form action="#" id="addRatingForm" onsubmit="return false;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--http://www.jqueryscript.net/other/Simple-jQuery-Star-Rating-Widget-For-Bootstrap-3-Bootstrap-Rating-Input.html-->
                                        <div class="form-group">
                                            <label for="rating">Rate here
                                                <input type="number" name="ratingScore" id="ratingScore" class="rating" value="<%= ownRating ? ownRating.score : '' %>" data-clearable="remove"/></label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="message">
                                                Comment</label>
                                            <textarea name="ratingComment" id="ratingComment" class="form-control" rows="9" cols="25"
                                                      placeholder="Type here your opinion on the drugstore"><%= ownRating ? ownRating.comment : '' %></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button href="#" id="rateBusiness" class="btn btn-info pull-right" >Post</button>
                                        <!--<input type="submit" value="Send message" />-->
                                    </div>
                                </div>
                            </form>
                        <%} else { %>
                            <div>
                                <div class="row">
                                    <div class="col-md-12">
                                        Log in to rate this business.
                                    </div>
                                </div>
                            </div>
                        <%}%>

                    </div>
                </div>


        </div>

        <% if (ratings.length > 0) { %>

            <div class="row">
                <div class="container">
                    <div class="col-md-3">
                    <h3>Ratings by other users</h3>
                </div>

                <% for(var i=0; i < ratings.length; i++) { %>
                        <div class="col-md-3">
                            <div class = "panel panel-primary">
                               <div class = "panel-heading">
                                  <h3 class = "panel-title">
                                      <%= ratings[i].from.local.username %>
                                      <div class="pull-right">
                                      <% for(var j=1; j <= 5; j++) { %>
                                        <i class="glyphicon <% if (j <= ratings[i].score) { %> glyphicon-star <% } else { %> glyphicon-star-empty <% } %>"></i>
                                      <% } %>
                                        </div>
                                   </h3>
                               </div>

                               <div class = "panel-body">
                                 <%= ratings[i].comment %>
                               </div>
                            </div>
                        </div>
                    <% } %>
                </div>

            </div>

         <% } %>


        <% include ../../partials/footer %>


        <% include ../../partials/loginmodals %>

        <% include ../../partials/termsmodal %>

        <script type="text/javascript">
           //var userId = <% if (ownRating) { %> ownRating.from <%} else { %>0<% } %>;
            var businessId = '<%= business._id %>';
        </script>
        <script type="text/javascript" src="/resources/js/bootstrap/bootstrap-rating-input.min.js"></script>
        <script type="text/javascript" src="/businessprofile/businessprofile.js"></script>

    </body>

</html>
